<p>ここはtop</p>
<%= link_to "ログイン", new_user_session_path, class: "btn my-2 my-sm-0 bg-light text-top-color" %>

<%= link_to "アカウントを作成する", new_user_registration_path, class: "btn" %>
<%= link_to "ログイン", new_user_session_path, class: "btn" %>

<% if user_signed_in? %>
  <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "btn" %>
<% end %>