<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Sakujiruへようこそ</h1>
      <p class="py-6">Sakujiruは作字に関わる人を応援するプラットフォームです</p>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary rounded-btn" %>
    </div>
  </div>
</div>