<p>チャットるーむ</p>
<%= @chat_room_user.name %>

<div id='chat-messages'>
  <%= render @chat_messages %>
</div>

<form class="form-control">
  <label class="input-group input-group-md">
    <span>DM</span>
    <textarea data-behavior="chat_room_speaker" data-chat_room_id="<%= @chat_room.id %>" placeholder="メッセージを入力" class="chat-room__message-form_textarea input input-bordered input-md"></textarea>
  </label>
</form>