<div class="user-action-common">
  <%= link_to edit_user_registration_path do %>

    <div>link</div>
  <% end %>
  <span>情報を編集<span>

<%= @user.name %>
<%= @user.self_introduction %>

<% if @user.profile_image.url.nil? %>
  <div class="profile-default-img"></div>
<% else %>
  <%= image_tag @user.profile_image.url, class: "profile-img" %>
<% end %>
