<div class="container mx-auto">
  <%# avatar %>
  <% if @user.profile_image.url.nil? %>
    <p>画像設定なし</p>
  <% else %>
    <%= image_tag @user.profile_image.url, class: "profile-img" %>
  <% end %>
  <%# username %>
  <div class="">
    <%= @user.name %>
  </div>

  <% if @user == current_user %>
    <%# edit_link %>
    <%= button_to "編集", edit_user_registration_path, method:"get", class: "btn btn-secondary" %>
  <% end %>
</div>