<div class="flex justify-center">
  <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
    <div class="card-body">

      <%# カード番号 %>
      <div>
        カード番号
        <%= "**** **** **** " + @default_card_information.last4 %>
      </div>

      <%# 有効期限 %>
      <div>
        有効期限
        <% exp_month = @default_card_information.exp_month.to_s %>
        <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
        <%= exp_month + " / " + exp_year %>
      </div>

      <%# 登録ボタン %>
      <%= form_with url:delete_cards_path, method: :post, id: 'charge-form', name: "inputForm", local: true do %>
        <input type="hidden" name="card_id" value="">
        <button class="btn btn-primary">削除する</button>
      <% end %>
  </div>
</div>