<div class="user-index-page">

  <div class="swipe">
    <div class="swipe--status">

    </div>

    <div class="swipe--cards stack">
      <% @posts.each do |post| %>
        <div class="swipe--card grid" id="<%= post.id %>">
          <%= image_tag post.arts.first.image.url(:medium), class:"profile-img" %>
        </div>
      <% end %>
    </div>

    <div class="swipe--buttons">
      <button id="dislike" class="btn">dislike</button>
      <button id="like" class="btn">like</button>
    </div>
  </div>

</div>